@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.configurator {
  position: fixed;
  right: 24px;
  bottom: 5vh;
  width: 360px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.configurator__section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}

.configurator__section__values {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize;
}
.item.item--active .item__label {
  color: white;
}

@media screen and (max-width: 768px) {
  .configurator {
    /* background: rgba(255, 255, 255, 0.1); Glass background color with opacity */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 15px;
    /* backdrop-filter: blur(10px); Apply a blur effect to the background */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Box shadow for a lifted effect */
    width: 250px;
    height: 300px;
    margin: 0;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    top: 0vh;
  }

  
.configurator__section__title {
  text-transform: uppercase;
  font-weight: medium;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 10px;
}

.configurator__section__values {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.item:hover {
  cursor: pointer;
  opacity: 0.9;
}

.item__dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: solid 1.5px #999999;
}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  color: #aaa;
  text-transform: capitalize;
}
.item.item--active .item__label {
  color: white;
}
}